body{
  background-size: cover;
}

#div_2{
   height: 200px; 
   width:2000px;
}

#start_button{
    height: 50px;
    width:80px;
}

canvas{
    border:2px 2px white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow:5px 5px 5px white;
}
